.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.wrapper {
  width: 400px;
  border: 3px solid blue;
}
.btn-wrapper {
  margin: 24px auto;
}
.btn-wrapper button {
  font-size: 12px;
  color: blue;
  background-color: white;
}
.btn-wrapper button:hover {
  color: white;
  background-color: blue;
}

@media screen and (max-width: 799px) and (min-width: 501px) {
  .button {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .card {
    transform: scale(0.8);
  }
  .card img {
    width: 80%;
  }
}

.wrapper {
  background-color: gold;
  padding: 20px;
  margin-bottom: 10px;
}

button {
  margin: 10px;
}
.dup-button button {
  background-color: gold;
  font-size: 12px;
}
.dup-button button:hover{
  color: white;
  background-color: blue;
}
.dup-button button:focus{
  color: white;
  background-color: blue;
}

.backgroundcolorButton button {
  background-color: gold;
  font-size: 12px;
}
.backgroundcolorButton button:hover{
  color: white;
  background-color: blue;
}
.backgroundcolorButton button:focus{
  color: white;
  background-color: blue;
}

.headingButton button {
  background-color: gold;
  font-size: 12px;
}
.headingButton button:hover{
  color: white;
  background-color: blue;
}
.headingButton button:focus{
  color: white;
  background-color: blue;
}

.deleteCard button {
  background-color: gold;
  font-size: 12px;
}
.deleteCard button:hover{
  color: white;
  background-color: blue;
}
.deleteCard button:focus{
  color: white;
  background-color: blue;
}

.button-box {
  background-color: #f0f0f0;
  border: 2px solid blue;
  border-radius: 10px;
  padding: 1px;
  display: inline-block;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);
}

.card-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}